* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.container {
    position: flex;
    flex-direction: column;
    width: 80%;
    background-color: white;
    margin: 100px;
    padding-top: 60px;
    padding-left: 60px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box span {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box1 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 25px;
}

.details {
    font-size: 18px;
}

.required {
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

input {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 2px;

}

input{
    width: 800px;
    padding: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.data{
    font-size: 0.8em;
    color: gray;
    padding-left: 10px; 
}
input[type="file"] {
    display: none;
}
.upload-button{
    margin-left: 10px;
    padding: 0px 10px;
}
.box2 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 25px;
}
.box3 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 25px;
}
.table4{
    font-size: 18px;
    padding-top: 50px;
}
.table4 svg{
    width: 20px;
}
.register-button {
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 50px 0px;
}